<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Projects</title>
    <link rel="stylesheet" href="~/css/projects.css">
</head>
<body>
    <a href="/" id="links">Home | </a><a href="/Projects">Projects | </a><a href="/Contact">Contact</a>
    <h1>Here are some of my projects!</h1>
    <div id="allProjects">
        <div id="proj">
            <h4>Project 1</h4>
            <p>Project description goes here</p>
        </div>
        <div id="proj">
            <h4>Project 2</h4>
            <p>Project description goes here</p>
        </div>
        <div id="proj">
            <h4>Project 3</h4>
            <p>Project description goes here</p>
        </div>
    </div>
</body>
</html>