* {
    margin: 5px;
    padding: 0;
}

.search {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    color: #3bacad;
    border-color: #3bacad;
    font-weight: 700
}

.plus {
    border-radius: 50%;
    background-color: #00d1b2;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    font-size: larger;
    font-weight: 600
}

.create {
    background-color: #2b78e4;
    border: 3px solid black;
    box-shadow: 3px 4px black;
    color: white;
    padding: 5px;
    width: 220px
}