<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Name: <%= cats.name %></h1>
        <img src="images/<%=cats.img%>" alt="">
        <p>Favorite Food: <%= cats.favorite_food %></p>
        <p>Favorite Activity: <%= cats.enjoys %></p>
        <p><a href="/cats">Go back</a></p>
</body>
</html>