<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='success.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="message">
            <p>
                The email address you entered ({{recent}}) is a VALID email address! Thank you!
            </p>
        </div>
        <h3>Email Addresses Entered:</h3>
        {% for email in emails %}
            <div class="email">
                <p>{{email.email}}</p>
                <p>{{email.created_at}}</p>
                <form action="delete/{{email.id}}" method="POST">
                    <input type="submit" value="delete">
                </form>
            </div>
        {% endfor %}
    </div>
</body>
</html>