<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="attempts">
            <h3>Random Word (attempt #{{request.session.attempt}})</h3><br>
        </div>
        <div class="string">
            <h1>{{string}}</h1>
        </div>
        <div class="buttons">
            <form action="generate" method="post">
                {% csrf_token %}
                <button>Generate</button>
            </form>
            <form action="reset">
                {% csrf_token %}
                <button>Reset</button>
            </form>
        </div>
    </div>
</body>
</html>