<div class="wrapper">
    <p><b>Your Gold: </b><%= session[:gold] %></p>
    <div class="modeWrapper">
        <div class="mode">
            <h3>Farm</h3>
            <p>(earns 10-20 gold)</p>
            <a href="farm"><button class="btn btn-success">Find Gold!</button></a>
        </div>
        <div class="mode">
            <h3>Cave</h3>
            <p>(earns 5-10 gold)</p>
            <a href="cave"><button class="btn btn-success">Find Gold!</button></a>
        </div>
        <div class="mode">
            <h3>House</h3>
            <p>(earns 2-5 gold)</p>
            <a href="house"><button class="btn btn-success">Find Gold!</button></a>
        </div>
        <div class="mode">
            <h3>Casino</h3>
            <p>(earns/takes 0-50 gold)</p>
            <a href="casino"><button class="btn btn-success">Find Gold!</button></a>
        </div>
    </div>
    <div class="activitiesWrapper">
        <p>Activities:</p>
        <div class="activities">
            <% session[:activities].each do |activity| %>
                <p class="good"><%= activity %></p>
            <% end %>
            <% session[:badActivities].each do |activity| %>
                <p class="bad"><%= activity %></p>
            <% end %>
        </div>
    </div>
</div>