<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Contact</title>
    <link rel="stylesheet" href="~/css/contact.css">
</head>
<body>
    <a href="/" id="links">Home | </a><a href="/Projects">Projects | </a><a href="/Contact">Contact</a>
    <h1>Contact Me</h1>
    <div id="basics">
        <p>Name: <input type="text"></p>
        <p>Email: <input type="text"></p>
    </div>
    <p id="msg">Message: </p>
    <textarea id="textarea" cols="30" rows="10"></textarea>
    <div id="submit">
        <a href="/"><input type="submit" value="Send Message"></a>
    </div>
</body>
</html>