<h1>{{title}}</h1>
<a [routerLink]="['/']">Go Home</a><br>
<a [routerLink]="['/new/author']">Add new author</a>
<p><b>We have quotes by:</b></p>
<table class="table table-hover authorList">
  <thead>
    <tr>
      <th>Author Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authors; let idx = index">
      <th>{{author.name}}</th>
      <th style="display: inline-flex"><a [routerLink]="['/edit/author', author._id]">Edit</a> | <p style="color: rgb(6, 106, 139)" (click)="deleteAuthor(author)">Delete</p></th>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>