<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Home</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>
    <div id="links">
        <a href="/">Home | </a><a href="/Projects">Projects | </a><a href="/Contact">Contact</a>
    </div>
    <h1>About Me</h1>
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-1217538342.png?crop=0.662xw:1.00xh;0.173xw,0&resize=640:*" alt="test pic" id="pic"/>
    <p id="info">Colby Dumonchelle</p>
    <p id="info">Full-Stack Python Web Developer</p>


    <p id="about">
        I am a full-stack Python web developer currently attending the Coding Dojo bootcamp
        to learn C# and MERN as well.
    </p>
</body>
</html>