#links {
    margin-left: 250px;
}
h1{
    margin-left: 250px;
}
#basics{
    margin-left: 20px;
    margin-top: 40px;
}
#msg{
    margin-left: 300px;
    margin-top: -110px;
}
#textarea{
    margin-left: 300px;
}
#submit{
    margin-left: 300px;
}