<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="register">
            <h1>Registration</h1>
            {% if messages %}
                {% if errorType == 1 %}
                    <div>
                    {% for message in messages %}
                        <p class='text-danger'>{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            <form action="register" method="POST">
                {% csrf_token %}
                <p>First Name:</p>
                <input type="text" name="fname">
                <p>Last Name:</p>
                <input type="text" name="lname">
                <p>Birthday:</p>
                <input type="date" name="bday">
                <p>Email:</p>
                <input type="text" name="email">
                <p>Password:</p>
                <input type="text" name="pass">
                <p>Password Confirmation:</p>
                <input type="text" name="confirmPass"><br>
                <input type="submit" value="Register" id="register">
            </form>
        </div>

        <div class="login">
            <h1>Login</h1>
            {% if messages %}
                {% if errorType == 2 %}
                    <div>
                    {% for message in messages %}
                        <p class='text-danger'>{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            <form action="login" method="POST">
                {% csrf_token %}
                <p>Email:</p>
                <input type="text" name="email">
                <p>Password:</p>
                <input type="text" name="pass"><br>
                <input type="submit" value="Login" id='login'>
            </form>
        </div>


    </div>
</body>
</html>