<div class="text-center">
    <h1>Weather API</h1>
    <button [routerLink]="['/']" class="btn-primary">Go Home</button>
    <button [routerLink]="['/seattle']" class="btn-warning">Load Seattle</button>
    <button [routerLink]="['/sanjose']" class="btn-secondary">Load San Jose</button>
    <button [routerLink]="['/burbank']" class="btn-info">Load Burbank</button>
    <button [routerLink]="['/dallas']" class="btn-success">Load Dallas</button>
    <button [routerLink]="['/dc']" class="btn-dark">Load DC</button>
    <button [routerLink]="['/chicago']" class="btn-warning">Load Chicago</button>
</div>





<router-outlet></router-outlet>