<div class="wrapper">
    <h4>Editing {{ pet.name }}</h4>
    <form (submit)="editPet()">
        <div>
            <p class="text-danger">{{ nameError }}</p>
            <p class="text-danger">{{ dupeError }}</p>
            <label>Pet Name: </label><br>
            <input type="text" name="petToEdit.name" [(ngModel)]="petToEdit.name">
        </div>
        <div>
            <p class="text-danger">{{ descriptionError }}</p>
            <label>Pet Description: </label><br>
            <input type="text" name="petToEdit.description" [(ngModel)]="petToEdit.description">
        </div>
        <div>
            <p class="text-danger">{{ typeError }}</p>
            <label>Pet Type: </label><br>
            <input type="text" name="petToEdit.type" [(ngModel)]="petToEdit.type">
        </div>
        <p>Skills (optional): </p>
        <div>
            <label>Skill One: </label>
            <input type="text" name="petToEdit.skill_one" [(ngModel)]="petToEdit.skill_one">
        </div>
        <div>
            <label>Skill Two: </label>
            <input type="text" name="petToEdit.skill_two" [(ngModel)]="petToEdit.skill_two">
        </div>
        <div>
            <label>Skill Three: </label>
            <input type="text" name="petToEdit.skill_three" [(ngModel)]="petToEdit.skill_three">
        </div>
        <div class="buttons">
            <button class="btn btn-success">Edit Pet</button>
            <button class="btn btn-danger" [routerLink]="['/pets']">Cancel</button>
        </div>
    </form>
</div>