<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Create a new Mongoose!</h1>
    <div class="text-center">
        <form action="/addMongoose" method="post" class="pb-4" style="margin-left: 25vw; width: 250px; border: 1px solid black;">
            <div>
                <p>Name:</p>
                <input type="text" name="name" id="">
            </div>
            <div>
                <p>Age:</p>
                <input type="number" name="age" id="">
            </div>
            <div>
                <button class="btn btn-success mt-5">Create Mongoose</button>
            </div>
        </form>
        <a href="/"><button class="btn btn-warning">Back to home</button></a>
    </div>
</body>
</html>