.boxStyle{
    color: white;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 5px;
    animation: slide-in 2s;
    width: 100vw;
    flex-wrap: wrap;
}
.boxStyle h1 {
    margin: auto;
}
.outerDiv{
    display: inline-flex;
}
@keyframes slide-in {
    from{
        transform: translateX(1600px)
    }
}