@model Chef
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center">Add A Chef!</h1>
    <form action="/AddChef" method="post">
        <div class="form-group">
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control"><br>

            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control"><br>

            <span asp-validation-for="Birthday"></span>
            <label asp-for="Birthday"></label>
            <input asp-for="Birthday" class="form-control"><br>

            <input type="submit" value="Add Chef"
        </div>
    </form>
</body>
</html>