.wrapper {
    margin-left: 15px;
    padding: 10px;
    border: 1px solid black;
    width: 450px;
    text-align: left;
}
.buttons {
    display: flex;
    margin: 10px;
}
.buttons button {
    margin-left: 15px;
}
.wrapper input {
    margin-left: 10px;
}